  .sign-in-form {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 0;
  }
  
  .header input,label {
    padding: 5px;
  }
  
  .header input {
    height: 30px;
  }
  
  header button {
    float: right;
    height: 30px;
    margin:4.2px;
  }
  
  @media only screen and (min-width: 320px) {
    .sign-in-form {
      display: none;
    }
  }
  
  @media only screen and (min-width: 720px) {
    .sign-in-form {
      display: flex;
      justify-content: center;
      padding: 15px;
      margin: 0;
    }
  }
  
  @media only screen and (min-width: 1000px) {
     .sign-in-form {
       display: inline-block;
       float: right;
     }
  }