header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: grey;
}

header h1 {
  display: flex;
  justify-content: center;
  padding:10px;
  font-size: 25px;
  margin: 0;
}

.sign-in-form {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0;
}

.header input,label {
  padding: 5px;
}

.header input {
  height: 30px;
}

header button {
  float: right;
  height: 30px;
  margin:4.2px;
}

.fa-calendar-alt {
  float: left;
  padding: 10px;
}

@media only screen and (min-width: 320px) {
  .sign-in-form {
    display: none;
  }

  .sign-in-link {
  }
}

@media only screen and (min-width: 720px) {
  .sign-in-form {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 0;
  }

  .sign-in-link {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .home-link {
      display: inline-block;
      float: left;
    }
 
   .sign-in-form {
     display: inline-block;
     float: right;
   }

   .sign-in-link {
    display: none;
  }
}