.sign-in-page {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
} 

.sign-in-page fieldset {
    width: 80%;
    background-color: rgba(18,17,19,0.85);
    border-radius: 20px;
    border: 1px black solid;
}

.sign-in-page label {
    display: block;
}

.sign-in-page input {
    width: 65%;
    height: 30px;
    border-radius: 4px;
}

.sign-in-page button {
    display: block;
    margin: auto;
    height: 30px;
    width: 40%;
    border-radius: 4px;
}

.demo-login-info h2 {
    font-size: 25px;
}

.demo-login-info p {
    font-size: 15px;
}


@media screen and (min-width: 1000px) { 
    .sign-in-page fieldset {
        width: 50%;
        background-color: rgba(18,17,19,0.85);
        border-radius: 20px;
        border: 1px black solid;
    }
    
    .sign-in-page label {
        display: block;
    }
    
    .sign-in-page input {
        width: 50%;
        height: 30px;
        border-radius: 4px;
    }
    
    .sign-in-page button {
        display: block;
        margin: auto;
        width: 20%;
        border-radius: 4px;
    }
}