.calendar-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.calendar-page h2 {
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 3px 4px rgba(18,17,19);
  /* padding: 10px; */
  width: 100%;
}

.calendar-page ul {
  list-style-type: none;
}

.calendar-page {
  /* box-shadow: 2px 4px 3px #1E1A1D; */
  border-radius: 4px;
  font-size: 15px;
  margin: auto;
}

.event {
  background-color: rgba(18,17,19,0.90);
  padding: 5px;
  border-radius: 20px;
}

.event p {
  margin: 3px;
}

.event-link {
  display: block;
  color: white;
}

.event-link:hover {
  color: #024B6E;
  font-size:16px;
}

.delete-review-button {
  background-color: white;
  width: 25%;
  height: 22px;
  border-radius: 10px;
  border: none;
}

.delete-review-button:hover {
  background-color: #024B6E;
  color: white;
  cursor: pointer;
}

.event-pic {
  display: block;
  margin: auto;
  width: 50%;
}



@media only screen and (min-width: 320px) {
  .calendar-page {
    font-size: 15px;
  }

  .weekday {
    width:300px;
  }

  .event {
    padding: 5px;
    width: 310px;
    height: 365px;
    margin: auto;
  }

  .event p {
    padding: 4px;
  }

  .event-pic{
    width: 200px;
  }

  .slick-slider {
    width: 350px;
  }
}

@media only screen and (min-width: 725px) {
  .calendar-page {
    font-size: 18px;
  }

  .weekday {
    width:300px;
  }

  .event {
    padding: 0px;
    width: 450px;
    height: 385px;
    margin: auto;
  }

  .event p {
    padding: 0px;
  }

  .event-pic{
    width: 265px;
  }

  .slick-slider {
    width: 500px;
  }

  .slick-prev {
    padding: 8px;
  }
}


@media only screen and (min-width: 1000px) {
  .calendar-page {
    width:420px;
    display: flex;
    justify-content: center;
  }

  .event {
    width: 600px;
    margin: 20px;
    height: 520px;
    padding: 5px;
    border-radius: 20px;
  }

  .event-pic{
    width: 350px;
  }

  .slick-slider {
    width: 760px;
  }

  .slick-next {
    padding: 50px;
  }
}