.calendar-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.calendar-page h2 {
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 3px 4px rgba(18,17,19);
  /* padding: 10px; */
  width: 100%;
}

.calendar-page ul {
  list-style-type: none;
}

.weekday {
  box-shadow: 2px 4px 3px #1E1A1D;
  border-radius: 4px;
  margin: 10px;
  height: 340px;
  max-width:325px;
  font-size: 15px;
  padding: 10px;
}

.event {
  background-color: rgba(18,17,19,0.95);
  padding: 5px;
  border-radius: 3px;
}

.event-link {
  display: block;
  color: white;
}

.event-link:hover {
  color: #024B6E;
  font-size:16px;
}


.delete-review-button {
  background-color: white;
  width: 25%;
  height: 22px;
  border-radius: 10px;
  border: none;
}

.delete-review-button:hover {
  background-color: #024B6E;
  color: white;
}

.event-pic {
  display: block;
  margin: auto;
  width: 50%;
}



@media only screen and (min-width: 320px) {
  .calendar-table {
    margin: 10px;
  }

  .event {
    height: 320px;
  }

}

@media only screen and (min-width: 725px) {
  .calendar-page {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
  }
}


@media only screen and (min-width: 1000px) {
  .calendar-page {
    overflow: scroll;
    max-height: 800px;
  }
}