.calendar-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.calendar-page h2 {
  text-shadow: 2px 3px 4px rgba(18,17,19);
  padding: 10px;
}

.calendar-page ul {
  list-style-type: none;
}

.weekday {
  box-shadow: 2px 4px 3px #1E1A1D;
  border-radius: 4px;
  margin: 10px;
  height: 370px;
  min-width:325px;
  font-size: 15px;
  padding: 10px;
}

.event {
  background-color: rgba(18,17,19,0.85);
  padding: 5px;
  border-radius: 3px;
  text-decoration:underline;
}

.event-link {
  display: block;
  color: white;
}

.delete-button {
  display: block;
  margin: auto;
}

.edit-button {
  display: block;
  margin: auto;
}

.event-pic {
  display: block;
  margin: auto;
  width: 50%;
}



@media only screen and (min-width: 320px) {
  .calendar-page {

  }

  .calendar-table {
    margin: 10px;
  }

  .event {
    height: 355px;
  }

}

@media only screen and (min-width: 725px) {

}


@media only screen and (min-width: 1000px) {
  .calendar-page {
      display: flex;
      flex-direction: row;
  }

  .calendar-table {
      display: flex;
    }

  .calendar-page h2 {
      margin: 100px;
    }
}