* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 20px;
  color: #444;
  line-height: 1.5;
  text-align: center;
  color: white;
  background: url(./thisweek2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav,
footer {
  padding: 1% 0;
}
