.search-bar {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  max-height: 800px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 4px 3px #1E1A1D;
  background-color: rgba(18,17,19,0.95);
}

.search-bar h3 {
  font-family: 'Orbitron', sans-serif;
}

.just-go {
  font-family: 'Orbitron', sans-serif;
}

.search-form input {
  margin: auto;
  margin-top: 10px;
  display: block;  
  width: 45%;
  height: 30px;
  border-radius: 3px;
}

.search-form button {
  height: 30px;
  border-radius: 10px;
  margin-top: 15px;
  width:30%;
  background-color: white;
  border: none;
  font-family: 'Orbitron', sans-serif;
}

.search-form button:hover {
  background-color: #024B6E;
  cursor: pointer;
  color: white;
}
 
.results {
  overflow: scroll;
  height: 200px;
  width: 600px;
  margin: auto;
  border-radius: 10px;
}

.results-li {
  list-style-type: none;
  padding-left: 0;
  border-radius: 50px;
}

.search-li-item {
  margin: 10px;
  border-radius: 50px;
  background-color: rgba(18,17,19,0.85);
}
 
.results a {
  color: white;
  margin: 15px;
}

.event-photo {
  display: block;
  margin: auto;
  border-radius: 40px;
  width: 50%;
}

@media only screen and (min-width: 320px) {
  .results {
    height: 400px;
    width: 300px;
    margin: auto;
    font-size: 15px;
  }

  .search-li-item {
    border: 1px #024B6E solid;
  }

  .search-form button {
    font-size: 18px;
  }
}


@media only screen and (min-width: 725px) {
  .results {
    height: 400px;
    width: 650px;
    margin: auto;
    font-size: 15px;
  }
}


@media only screen and (min-width: 1000px) {
  .search-bar {
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .search-form {
    width: 500px;
    padding: 20px;
    margin: auto;
  }

  .results {
    overflow: scroll;
    height: 600px;
    width: 600px;
    margin: auto;
  }
  
  .search-form button {
    font-size: 20px;
  }
}