.signup-page {
    margin: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-page h3{
    flex-direction: row;
    text-shadow: 2px 3px 4px rgba(18,17,19)
}

.sign-up-fieldset {
    width: 300px;
    background-color: rgba(18,17,19,0.95);
    border: 1px black solid;
    border-radius: 20px;
}

.sign-up-fieldset label {
    display: block;    
}

.signup-page input {
    width: 70%;
    height: 30px;
    border-radius: 4px;
}

.sign-up-submit {
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 30px;
    width: 40%;
    border-radius: 4px;
}

.sign-up-fieldset ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 15px;
}

@media screen and (min-width: 320px) {
    .signup-page {
        margin: 100px;
    }
}

@media screen and (min-width: 765px) {

}

@media screen and (min-width: 1000px) { 

}