.signup-page {
    margin: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-page h3{
    flex-direction: row;
}

.sign-up-fieldset {
    width: 300px;
}

.sign-up-fieldset label {
    display: block;    
}

.signup-page button {
    display: block;
    margin: auto;
}


  
  /* @media screen and (min-width: 320px) {

  }
  
  @media screen and (min-width: 765px) {

  }
  
  @media screen and (min-width: 1000px) { 

  } */