* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

.home-page p {
  padding: 10px;
}

.signup-page label{
  display: block;
  margin: auto;
}

.signup-page button {
  display: block;
  margin: auto;
}